#list-contacts h3 {
    border-bottom: solid 1px black;
}

#list-contacts h4 {
    border-bottom: solid 1px black;
    margin-bottom: 0;
}

#list-contacts .comment {
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    background-color: lightgray;
    min-height: 100px;
}

#list-contacts #rating > div {
    margin-top: 10px;
}

#list-contacts #rating #users > div {
    width: 34px;
    height: 34px;
    float: left;
    border: solid 1px black;
    margin-right: 2px;
    border-radius: 5px;
    line-height: 32px;
    text-align: center;
    overflow: hidden;
}

#confirm-delete-recommendation, #popup-recommendation-edit {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

#confirm-delete-recommendation form, #popup-recommendation-edit form {
    position: absolute;
    left: 50%;
    top: 100px;
    width: 600px;
    margin-left: -300px;
    background-color: white;
}

#popup-recommendation-edit form {
    width: 800px;
    margin-left: -400px;
}

#confirm-delete-recommendation form > div, #popup-recommendation-edit form > div {
    padding: 15px;
}

#confirm-delete-recommendation h1, #popup-recommendation-edit h1 {
    margin: 0;
    font-size: 24px;
    background-color: #00b3ee;
    position: relative;
    padding: 10px;
}

#confirm-delete-recommendation h1 span, #popup-recommendation-edit h1 span {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    cursor: pointer;
    font-size: 44px;
}